
.Modal{
    position: fixed;
    z-index: 2;
    top: 40px;
    left: 15%; 
    right: 15%; 
    bottom: 40px; 
    padding: 2rem;
    border-radius: 5px;
    background-color: #ffffff;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(122, 122, 122, 0.7);
    z-index: 1;
}
