.character-item{
    width: 200px;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgb(255, 136, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}