@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont,'Roboto', 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/fond_swa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1900px) { 
  body {
    background-size: 110% auto;
  }
}

@media (max-width: 1450px) { 
  body {
    background-size: auto 160%;
  }
}

@media (max-width: 550px) { 
  body {
    background-size: auto 190%;
  }
}

@media (max-width: 300px) { 
  body {
    background-size: auto 230%;
  }
}